section#content {

	&.padding {

		padding: 121px 30px;

	}

}

span.reference-label {

	font-family: $lato;
	display: block;
	font-size: 14px;
	color: #EE5945;
	line-height: 17px;
	font-weight: 700;

}

h1.article-title {

	letter-spacing: 1px;
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 25px;
	margin-top: 0px;
	display: block;

}

.page-contents {

	margin: 30px 0;
	padding: 0;

	li {

		padding: 2px 0;
		list-style-type: none;

		a {
			border-left: 3px solid $grey;
			padding-left: 15px;
			&:hover {
				border-left: 3px solid $orange;
				text-decoration: none;

			}

		}

	}

}

