.exercise-description, .example-description {

	padding: 29px 30px 30px 30px;

	p {
		margin-top: 25px;
	}

}

#defaultCanvas {

	margin: 100px auto 0px;
	position: relative;
	display: none;

	h4 {

		color: #7B7B7B !important;

	}

}

.sketch-caption {

	margin: 15px 30px;
	display: none;

	h4 {

		color: #7B7B7B !important;

	}

}

.code-container pre {

	width: 1000px;

}