.exercise-description, .example-description {

	padding: 29px 30px 30px 30px;

	p {
		margin-top: 25px;
	}

}

#defaultCanvas {

	margin: 100px auto 0px;
	position: relative;
	display: none;

	h4 {

		color: #7B7B7B !important;

	}

}

.sketch-caption {

	margin: 15px 30px;
	display: none;

	h4 {

		color: #7B7B7B !important;

	}

}

.code-container pre {

	width: 900px;

}

section#code-window {

	background: $white;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 44%;
	border-left: 2px solid #f1f1f1;
	padding: 0;
	overflow: scroll;
	z-index: 2;

	&.code-only {
		width: 69%;
	}

	@media screen and (max-width: $break-medium) {

		width: 100% !important;
    	position: static;
    	height: auto !important;

	}

	@media screen and (max-width: $break-small) {

		width: 100%;

	}

	.code-tab {

		width: 100%;
		background: $orange;

		a {

			display: inline-block;
			padding: 0 15px;
			line-height: 50px;
			color: $white;
			font-family: $lato;
			font-size: $font-small;
			font-weight: 700;
			display: inline-block;

			&:hover {

				text-decoration: none;
				background: rgba(0,0,0,0.05);

			}

		}

	}

	.code-container {

		overflow: scroll;
		padding: 15px;

		pre {

			border-radius: none;
			background: none;
			border: none;
			
		}

	}

}