$yellow: 	#FFDE00;
$orange: 	#ED462F;
$brown: 	#7B7B62;
$black: 	#404040;
$white: 	#ffffff;

$alice: 	'Alice', serif;
$lato: 		'Lato', sans-serif;

$font-small : 12px;
$break-small: 768px;
$break-medium: 992px;