section#video-window {

	padding-top: 29px;
	background-color: white;
	width: 45%;
	margin-left: 20%;
    z-index: 100;
    border-left: 2px solid #f1f1f1;

	@media screen and (max-width: $break-medium) {

		padding: 30px 30px;
		height: auto !important;
		border-left: none;

	}

	.video-actions {

		margin: 15px auto;

	}

	.video-container {

		margin-top: 25px;

		@media screen and (max-width: $break-small) {

			height: auto !important;

		}

	}

}

.annotations {

	padding: 30px 30px 0px 30px;

	@media screen and (max-width: $break-medium) {

		padding: 30px 30px;

	}

	h5 {

		font-family: $lato;
		font-size: 12px;
		color: #B9A93E;
		margin: 0;
		font-weight: 600;

	}

	.annotation-panel {

		transition: opacity 0.4s;
		padding: 10px 0px 0px;
		margin-bottom: 10px;
		background: $white;
		border-radius: 4px;
		opacity: 0.6;

		span {

			font-family: $lato;
			font-size: 12px;
			color: #8C8C8C;
			font-weight: 700;

		}

		p {
			font-size: 15px;
		}

		&:hover, &.in {

			opacity: 1;

		}

	}

}

.rhs.annotation-window {

	z-index: 9992;
	width: 35%;

	.code-window {

		display: none;
		padding: 0 15px 15px 15px;

		pre {

			padding: 15px;
			background: $white;
			border-color: $yellow;
		
		}

	}

}

a.download {

		padding: 15px;
		display: block;
		background: $white;
		border: 1px solid #DADADA;
		border-radius: 2px;
		margin-bottom: 10px;
		color: $black;
		font-size: 15px;

		img {

			margin-right: 15px;

		}

		&:hover {

			border: 1px solid $orange;
			text-decoration: none;
			-webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
			-moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);
			box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.1);

		}

	}


