@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Alice);

$yellow: 	#FFDE00;
$orange: 	#ED462F;
$brown: 	#7B7B62;
$black: 	#404040;
$white: 	#ffffff;

$alice: 	'Alice', serif;
$lato: 		'Lato', sans-serif;

$font-small : 12px;

$break-small: 768px;

// Core

body, html {

	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	height: 100%;

}

body {

	font-family: $alice;
	font-size: 16px;
	color: $black;

}

//Typepography

h1 {

	font-family: $lato;
	font-weight: 900;
	font-size: 40px;
	color: $black;
	letter-spacing: 6.4px;
	line-height: 48px;
	display: inline;

	@media screen and (max-width: $break-small) {

		font-size: 30px;
		letter-spacing: 5px;
		line-height: 35px;

	}

}

h3 {

	font-size: 20px;
	color: $orange;
	margin-top: 5px;
	margin-top: 15px;

}

a {

	color: $orange;

	&:hover, &:visited, &:active {
		
		color: $orange;

	}

	&.meta-link {

		font-family: $lato;
		font-size: $font-small;
		font-weight: 700;
		display: block;

	}

}

.btn {

	border-radius: 2px;
	padding: 15px 20px;
	font-family: $lato;
	font-size: $font-small;
	font-weight: 900;

	@media screen and (max-width: $break-small) {

		width: 100%;
		margin-bottom: 15px;

	}

}

.btn-primary {

	transition: background 0.3s;
	background: $orange;
	border: none;
	color: $white !important;

	&:hover {
		
		background: $black;

	}

}

.btn-default {

	transition: background 0.3s;
	background: $brown;
	color: $white;
	border: none;

	&:hover {

		background: $black;
		color: $white;

	}

}

// Landing Page

canvas#sketch-container {

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -99;

}

section#hero {

	height: 100%;
	position: relative;
	padding-right: 0;
	// padding: 30px 30px 0 30px;

	.lhs {

		min-height: 600px;

		@media screen and (max-width: $break-small) {

			height: auto!important;
			margin-top: 80px;

		}

	}
	.rhs {

		position: fixed;
		right: 0px;
		top: 0px;
		width: 40%;
		min-height: 100%;
		background: rgba(255,222,0,0.7);

		.background-explainer {

			position: absolute;
			bottom: 25px;
			right: 30px;
			text-align: right;
			font-family: $lato;
			font-size: $font-small;
			color: #ffa500 !important;
			font-weight: 700;
			z-index: 1;

			.extra-small {

				font-size: 10px;

			}

		}

		img {

			position: absolute;
			left: -41px;
  			top: 50%;
  			margin-top: -140px;

		}

		.social {

			position: absolute;
			top: 30px;
			right: 30px;

		}

		@media screen and (max-width: $break-small) {

			width: 15px;
			z-index: -1;

		   img {

		   	display: none ;

		   }

		   .background-explainer {

		   		display: none;

		   }
		
		}

	}

	.contain {

		@media screen and (max-width: $break-small) {

			margin-bottom: 30px;

		}

		p {

			width: 80%;
			margin: 30px 0 35px 0;

			@media screen and (max-width: $break-small) {

				width: 100%;

			}

		}

		.actions {

			margin-bottom: 30px;

		}

	}

	.edition-label {

		display: inline-block;
		padding: 5px 15px;
		background: $orange;
		border-radius: 2px;
		color: $white;
		font-size: $font-small;
		font-family: $lato;
		font-weight: 700;
		vertical-align: top;
  		margin-top: 12px;

  		@media screen and (max-width: $break-small) {

  			margin-top: 5px;

  		}

	}

}

.stamp {

	position: fixed;
	top: 30px;
	left: 30px;
	transition: opacity 0.4s;
	opacity: 1;

	a {

		font-family: $lato;
		font-size: $font-small;
		font-weight: 700;
		display: block;

		&.active {

			color: $black;
			pointer-events: none;

		}

	}

	@media screen and (max-width: $break-small) {

		&.scroll-hide {

			opacity: 0;

		}

	}

}

.social {

	.fb-like {

		vertical-align: top;

	}

	.twitter-share-button {

		margin-top: 2px;

	}

	@media screen and (max-width: $break-small) {

		display: none;

	}

}

.mobile-show {

	display: none;

	@media screen and (max-width: $break-small) {

		display: block;

	}

}

//Helpers

.vert-center {

	@media screen and (min-width: $break-small) {

		position: absolute;
  		top: 50%;
  		transform: translateY(-50%);

  	}

}













