@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Alice);

$yellow: 	#FFDE00;
$orange: 	#ED462F;
$brown: 	#7B7B62;
$black: 	#404040;
$white: 	#ffffff;

$alice: 	'Alice', serif;
$lato: 		'Lato', sans-serif;

$font-small : 12px;

// Core

body, html {

	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	height: 100%;

}

body {

	font-family: $alice;
	font-size: 16px;
	color: $black;

}

//Typepography

h1 {

	font-family: $lato;
	font-weight: 900;
	font-size: 40px;
	color: $black;
	letter-spacing: 6.4px;
	line-height: 48px;

}

h3 {

	font-size: 20px;
	color: $orange;
	margin-top: 5px;

}

a {

	color: $orange;

	&:hover {
		
		color: $orange;

	}

	&.meta-link {

		font-family: $lato;
		font-size: $font-small;
		font-weight: 700;
		display: block;

	}

}

.btn {

	border-radius: 2px;
	padding: 15px 20px;
	font-family: $lato;
	font-size: $font-small;
	font-weight: 900;

}

.btn-primary {

	transition: background 0.3s;
	background: $orange;
	border: none;

	&:hover {
		
		background: $black;

	}

}

.btn-default {

	transition: background 0.3s;
	background: $brown;
	color: $white;
	border: none;

	&:hover {

		background: $black;
		color: $white;

	}

}

// Landing Page

canvas#sketch-container {

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -99;

}

section#hero {

	height: 100%;
	position: relative;
	padding-right: 0;
	padding: 30px 30px 0 30px;

	.rhs {

		position: fixed;
		right: 0px;
		top: 0px;
		width: 40%;
		min-height: 100%;
		background: rgba(255,222,0,0.7);

		.background-explainer {

			position: absolute;
			bottom: 30px;
			right: 30px;
			text-align: right;
			font-family: $lato;
			font-size: $font-small;
			font-weight: 700;

		}

		img {

			position: absolute;
			left: -41px;
  			top: 50%;
  			margin-top: -140px;

		}

		.social {

			position: absolute;
			top: 30px;
			right: 30px;

		}

	}

	.contain {

		margin-top: 110px;
		margin-bottom: 110px;

		p {

			width: 80%;
			margin: 30px 0 35px 0;

		}

		.actions {

			margin-bottom: 30px;

		}

	}


}

.stamp {

	position: fixed;
	top: 30px;
	left: 30px;

	a {

		font-family: $lato;
		font-size: $font-small;
		font-weight: 700;
		display: block;

		&.active {

			color: $black;
			pointer-events: none;

		}

	}

}

// Helpers

// .vert-center {

// 	position: relative;
//   	top: 50%;
//   	transform: translateY(-50%);

// }













