@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";
@import "variables";
@import "exercises";
@import "article";
@import "videos";

@import url(http://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url(http://fonts.googleapis.com/css?family=Alice);

// Core

body, html {

	-webkit-font-smoothing: antialiased;
	min-height: 100%;
	height: 100%;

}

body {

	font-family: $alice;
	font-size: 16px;
	color: $black;

}

//Typography

h1 {

	font-family: $lato;
	font-weight: 900;
	font-size: 40px;
	color: $black;
	letter-spacing: 6.4px;
	line-height: 48px;
	display: inline;

	@media screen and (max-width: $break-small) {

		font-size: 30px;
		letter-spacing: 5px;
		line-height: 35px;

	}

}

h3 {

	font-size: 20px;
	color: $orange;
	margin-top: 5px;
	margin-top: 15px;

}

a {

	color: $orange;

	&:hover, &:visited, &:active {
		
		color: $orange;

	}

	&.meta-link {

		font-family: $lato;
		font-size: $font-small;
		font-weight: 700;
		display: block;

	}

}

.btn {

	border-radius: 2px;
	padding: 15px 20px;
	font-family: $lato;
	font-size: $font-small;
	font-weight: 900;

	@media screen and (max-width: $break-small) {

		width: 100%;
		margin-bottom: 15px;

	}

}

.btn-primary {

	transition: background 0.3s;
	background: $orange;
	border: none;
	color: $white !important;

	&:hover {
		
		background: $black;

	}

}

.btn-default {

	transition: background 0.3s;
	background: $brown;
	color: $white;
	border: none;

	&:hover {

		background: $black;
		color: $white;

	}

}

// CORE

nav {

	position: fixed;
	top: 124px;
	left: 0px;
	width: 240px;
	font-family: $lato;
	font-size: $font-small;
	font-weight: 700;
	display: block;
	z-index: 2;

	@media screen and (max-width: $break-medium) {

		transition: left 0.5s;
	    background-color: #ffffff;
	    height: 100%;
	    padding: 30px;
	    top: 0;
	    width: 300px;
	    left: -300px;
	    overflow: scroll;
	    z-index: 9999;

	    &.level-2 {

	    	ul {

				padding-left: 0px !important;

				li a {

					opacity: 1 !important;

				}

			}

	    }

	    &.open {

	    	left: 0;

	    }

	}

	.left-fade {

		position: fixed;
		left: 0;
		width: 30px;
		height: 100%;
		background: url('../images/left-fade.png') repeat-y;
		z-index: 10;

		@media screen and (max-width: $break-medium) {
			display: none;
		}

	}

	ul {

		transition: padding 0.3s;
		padding-left: 30px;
		
		li {

			list-style-type: none;
			padding: 2px 0;

		}

	}

	&.level-2 {

		ul {

			padding-left: 5px;

			li a {
				transition: opacity 0.3s;
				opacity: 0.3;

			}

		}

		ul.links-level-2 {

			margin: 15px 0;
			padding: 10px 0px 10px 25px;
  			overflow: scroll;

  			&.scroll-borders {

  				border-top: 2px solid #F1F1E2;
  				border-bottom: 2px solid #F1F1E2;
  				
  			}

			li a {

				opacity: 1;

				&.active-page {

					color: $black;

				}

			}

		}

		&.in {

			ul {

				padding-left: 30px;

				li a {

					opacity: 1;

				}

			}

			ul.links-level-2 {

				padding-left: 0;

			}

		}

	}

}

canvas#sketch-container {

	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -99;

}

.rhs {

	position: fixed;
	right: 0px;
	top: 0px;
	width: 40%;
	min-height: 100%;
	background: rgba(255,222,0,0.7);

	.background-explainer {

		position: absolute;
		bottom: 25px;
		right: 30px;
		text-align: right;
		font-family: $lato;
		font-size: $font-small;
		color: #ffa500 !important;
		font-weight: 700;
		z-index: 1;

		.extra-small {

			font-size: 10px;

		}

	}

	.social {

		position: absolute;
		top: 30px;
		right: 30px;

	}

	&.canvas {

		background: $black;

	}

	@media screen and (max-width: $break-medium) {

		position: relative;
		width: 100%;

	   img {

	   	display: none ;

	   }

	   .background-explainer {

	   		display: none;

	   }
	
	}

}

section#content {

	padding-top: 120px;

	h1 {

		margin: 0 0 10px;
 		display: inline-block;

	}

}

.lhs {

	@media screen and (max-width: $break-medium) {

		margin-top: 100px;

	}

}

section#code-window {

	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 44%;
	border-left: 2px solid #f1f1f1;
	padding: 0;
	overflow: scroll;

	@media screen and (max-width: $break-medium) {

		width: 60%;

	}

	@media screen and (max-width: $break-small) {

		width: 100%;

	}

	.code-tab {

		width: 100%;
		background: $orange;
		height: 50px;

		a {

			display: inline-block;
			padding: 0 30px;
			line-height: 50px;
			color: $white;
			font-family: $lato;
			font-size: $font-small;
			font-weight: 700;
			display: inline-block;

		}

	}

	.code-container {

		overflow: scroll;
		height: 100%;

		pre {

			border-radius: none;
			background: none;
			border: none;
			
		}

	}

}

section#hero {

	height: 100%;
	position: relative;
	padding-right: 0;
	padding: 30px 30px 0 30px;

	.lhs {

		min-height: 600px;

		@media screen and (max-width: $break-small) {

			height: auto!important;
			margin-top: 80px;

		}

	}
	.rhs {

		position: fixed;
		right: 0px;
		top: 0px;
		width: 40%;
		min-height: 100%;
		background: rgba(255,222,0,0.7);

		.background-explainer {

			position: absolute;
			bottom: 25px;
			right: 30px;
			text-align: right;
			font-family: $lato;
			font-size: $font-small;
			color: #ffa500 !important;
			font-weight: 700;
			z-index: 1;

			.extra-small {

				font-size: 10px;

			}

		}

		img {

			position: absolute;
			left: -41px;
  			top: 50%;
  			margin-top: -140px;

		}

		.social {

			position: absolute;
			top: 30px;
			right: 30px;

		}

		@media screen and (max-width: $break-small) {

			width: 15px;
			z-index: -1;

		   img {

		   	display: none ;

		   }

		   .background-explainer {

		   		display: none;

		   }
		
		}

	}

	.contain {

		@media screen and (max-width: $break-small) {

			margin-bottom: 30px;

		}

		p {

			width: 80%;
			margin: 30px 0 35px 0;

			@media screen and (max-width: $break-small) {

				width: 100%;

			}

		}

		.actions {

			margin-bottom: 30px;

		}

	}

	.edition-label {

		display: inline-block;
		padding: 5px 15px;
		background: $orange;
		border-radius: 2px;
		color: $white;
		font-size: $font-small;
		font-family: $lato;
		font-weight: 700;
		vertical-align: top;
  		margin-top: 12px;

  		@media screen and (max-width: $break-small) {

  			margin-top: 5px;

  		}

	}

}

header {

	width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    height: 110px;
    z-index: 9998;
    
    .mobile-nav-button {

    	position: absolute;
    	right: 30px;
    	top: 30px;

    	a {

    		display: block;

    	}

    	@media screen and (min-width: $break-medium) {

    		display: none;

    	}

    }

}

.stamp {

	position: fixed;
	top: 30px;
	left: 25px;
	transition: opacity 0.4s;
	opacity: 1;
	z-index: 1;

	a {

		transition: border 0.4s;
		font-family: $lato;
		font-size: $font-small;
		font-weight: 700;
		display: block;
		padding-left: 5px;
		border-left: 2px solid $white;

		&.active {

			color: $black;
			pointer-events: none;

		}

		&:hover{

			border-left: 2px solid $orange;
			text-decoration: none;

		}

	}

	img {

		margin-left: 7px;

	}

	@media screen and (max-width: $break-small) {

		&.scroll-hide {

			opacity: 0;

		}

	}

}

.social {

	.fb-like {

		vertical-align: top;

	}

	.twitter-share-button {

		margin-top: 2px;

	}

	@media screen and (max-width: $break-small) {

		display: none;

	}

}

.mobile-show {

	display: none;

	@media screen and (max-width: $break-small) {

		display: block;

	}

}

//Helpers

.vert-center {

	@media screen and (min-width: $break-small) {

		position: relative;
  		top: 50%;
  		transform: translateY(-50%);

  	}

}













