<nav>
  <ul>
    {% if page.group != "example" %}
    <li><a href="/examples">EXAMPLES</a></li>
    {% endif %}
      {% if page.group == "example" %}
            <ul class="links-level-2">
              <li><a class="active-page" href="/examples">EXAMPLES</a></li>
              {% for post in site.posts %}
                {% if post.group == "example" %}
                  <li><a class="secondary-link" href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
      {% endif %}

    {% if page.group != "exercise" %}
    <li><a href="/exercises">EXERCISES</a></li>
    {% endif %}
        {% if page.group == "exercise" %}
            <ul class="links-level-2">
              <li><a class="active-page" href="/exercises">EXERCISES</a></li>
              {% for post in site.posts %}
                {% if post.group == "exercise" %}
                  <li><a class="secondary-link" href="{{ post.url }}">{{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
        {% endif %}
    
    {% if page.group != "video" %}
    <li><a href="/videos">VIDEOS</a></li>
    {% endif %}
        {% if page.group == "video" %}
            <ul class="links-level-2">
              <li><a class="active-page" href="/videos">VIDEOS</a></li>
               {% for post in site.posts %}
                  {% if post.group == "video" %}
                    <li><a class="secondary-link" href="{{ post.url }}">{{ post.title }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
        {% endif %}
    <li><a href="/downloads">DOWNLOADS</a></li>
    <li><a href="/resources">RESOURCES</a></li>
  </ul>
</nav>
