<nav class="{% if page.group == 'example' || page.group == 'video' || page.group == 'exercise' %}level-2{% endif %}">
  <div class="left-fade"></div>
  <ul>
    {% if page.group != "example" || page.group == "exampleIndex" %}
    <li><a href="/examples" class="{% if page.group == 'exampleIndex' %}active-page{% endif %}">EXAMPLES</a></li>
    {% endif %}
      {% if page.group == "example" %}
            <ul class="links-level-2">
              <li><a class="active-page" href="/examples">EXAMPLES</a></li>
              {% for post in site.posts %}
                {% if post.group == "example" %}
                  <li><a class="secondary-link" href="{{ post.url }}">{{post.chapter}}.{{post.number}} {{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
      {% endif %}

    {% if page.group != "exercise" || page.group == "exerciseIndex" %}
    <li><a href="/exercises" class="{% if page.group == 'exerciseIndex' %}active-page{% endif %}">EXERCISES</a></li>
    {% endif %}
        {% if page.group == "exercise" %}
            <ul class="links-level-2">
              <li><a class="active-page" href="/exercises">EXERCISES</a></li>
              {% for post in site.posts %}
                {% if post.group == "exercise" %}
                  <li><a class="secondary-link" href="{{ post.url }}">{{post.chapter}}.{{post.number}} {{ post.title }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
        {% endif %}
    
    {% if page.group != "video" || page.group == "videoIndex" %}
    <li><a href="/videos" class="{% if page.group == 'videoIndex' %}active-page{% endif %}">VIDEOS</a></li>
    {% endif %}
        {% if page.group == "video" %}
            <ul class="links-level-2">
              <li><a class="active-page" href="/videos">VIDEOS</a></li>
               {% for post in site.posts %}
                  {% if post.group == "video" %}
                    <li><a class="secondary-link" href="{{ post.url }}">{{post.chapter}}.{{post.number}} {{ post.title }}</a></li>
                  {% endif %}
              {% endfor %}
            </ul>
        {% endif %}
    <li><a href="/downloads" class="{% if page.group == 'downloads' %}active-page{% endif %}">DOWNLOADS</a></li>
    <li><a href="/resources" class="{% if page.group == 'resources' %}active-page{% endif %}">RESOURCES</a></li>
    <li><a href="/getthebook" class="{% if page.group == 'resources' %}active-page{% endif %}">GET THE BOOK</a></li>
  </ul>
  <a href="http://amzn.to/1TB1kUW" class="btn btn-default nav-cta">BUY ON AMAZON</a>
</nav>
