---
layout: default
group: exerciseIndex
--- 

 <section id="content" class="col-md-5 col-md-offset-2">

    <h1>EXERCISES</h1>
    <p> <p>Here you will find solutions for most of the exercises from Learning Processing organized by chapter.  If one is missing, feel free to <a href="https://github.com/shiffman/LearningProcessing.com/issues">let me know on github</a>.</p>
</p>
    
    <ul class="page-contents">
    	{% assign previousChapter = 1 %}

        {% for post in site.posts reversed %}
          {% if post.group == "exercise" %}

              {% if previousChapter == post.chapter %}
                <li><a class="meta-link" href="{{ post.url }}">{{ post.chapter }}-{{ post.number }} {{ post.title }}</a></li>
            {% else %}
              {% assign chp = post.chapter | minus:1 %}
                <li> <a class="chapter-header new-chapter" href="#">Chapter {{ post.chapter }}: {{ site.data.chapters[chp] }}</a> </li>                  
              <li><a class="meta-link" href="{{ post.url }}">{{ post.chapter }}-{{ post.number }} {{ post.title }}</a></li>
              {% assign previousChapter = post.chapter %}
            {% endif %}

          {% endif %}
        {% endfor %}
    </ul>

</section>

<section class="rhs">

</section>