---
layout: default
group: exerciseIndex
--- 

 <section id="content" class="col-md-5 col-md-offset-2">

    <h1>EXERCISES</h1>
    <p>Here you'll find exercises directly linked to the book. You can follow the book with this website to interact with the sketches in each page. Have fun!</p>
    
    <ul class="page-contents">
        {% for post in site.posts %}
          {% if post.group == "exercise" %}
            <li><a class="meta-link" href="{{ post.url }}">{{ post.chapter }}.{{ post.number }} {{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
    </ul>

</section>

<section class="rhs">

</section>