---
layout: default
group: exampleIndex
title: Examples
---

<section id="content" class="col-md-5 col-md-offset-2 padding">

	<h1>EXAMPLES</h1>
	<p>Here are all the examples from Learning Processing organized by chapter.</p>
	
	<ul class="page-contents">
	{% assign previousChapter = 1 %}
      <li class="new-chapter chapter-header">Chapter 1: {{ site.data.chapters[0]}}</li>
      {% for post in site.posts reversed %}
        {% if post.group == "example" %}

              {% if previousChapter == post.chapter %}
                <li><a class="meta-link" href="{{ post.url }}"><span>{{ post.chapter }}-{{ post.number }}</span> {{ post.title }}</a></li>
            {% else %}
              {% assign chp = post.chapter | minus:1 %}
                <li class="new-chapter chapter-header">Chapter {{ post.chapter }}: {{ site.data.chapters[chp] }}</li>                  
                <li><a class="meta-link" href="{{ post.url }}"><span>{{ post.chapter }}-{{ post.number }}</span> {{ post.title }}</a></li>
              {% assign previousChapter = post.chapter %}
            {% endif %}

          {% endif %}
      {% endfor %}
	</ul>
</section>

<section class="rhs">

</section>

