---
layout: default
group: exampleIndex
---

<section id="content" class="col-md-5 col-md-offset-2 padding">

	<h1>EXAMPLES</h1>
	<p>Here you'll find a ton of examples that have been created through processing.</p>
	
	<ul class="page-contents">
      {% for post in site.posts %}
        {% if post.group == "example" %}
          <li><a class="meta-link" href="{{ post.url }}">{{ post.chapter }}.{{ post.number }} {{ post.title }}</a></li>
        {% endif %}
      {% endfor %}
	</ul>
</section>

<section class="rhs">

</section>

