
span.reference-label {

	font-family: $lato;
	display: block;
	font-size: 14px;
	color: #EE5945;
	line-height: 17px;
	font-weight: 700;

}

h1.article-title {

	letter-spacing: 1px;
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 25px;
	margin-top: 0px;
	display: block;

}