---
layout: default
group: videoIndex
---

<section id="content" class="col-md-5 col-md-offset-2 padding">

    <h1>VIDEOS</h1>
    <p>Click through the video series to learn programming from beginner to advanced levels.</p>
    
    <ul class="page-contents">
        {% for post in site.posts %}
          {% if post.group == "video" %}
            <li><a class="meta-link" href="{{ post.url }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
    </ul>

</section>

<section class="rhs">

</section>
