---
layout: default
group: videoIndex
---

<section id="content" class="col-md-5 col-md-offset-2 padding">

    <h1>VIDEOS</h1>
    <p>Click through the video series to learn programming from beginner to advanced levels.</p>
    
    <ul class="page-contents">
    	{% assign previousChapter = 1 %}
    	
        {% for post in site.posts reversed %}
          {% if post.group == "video" %}

              {% if previousChapter == post.chapter %}
                <li><a class="meta-link" href="{{ post.url }}">{{ post.chapter }}-{{ post.number }} {{ post.title }}</a></li>
            {% else %}
              {% assign chp = post.chapter | minus:1 %}
                <li> <a class="chapter-header new-chapter" href="#">Chapter {{ post.chapter }}: {{ site.data.chapters[chp] }}</a> </li>                  
              <li><a class="meta-link" href="{{ post.url }}">{{ post.chapter }}-{{ post.number }} {{ post.title }}</a></li>
              {% assign previousChapter = post.chapter %}
            {% endif %}

          {% endif %}
        {% endfor %}
    </ul>

</section>

<section class="rhs">

</section>
