---
layout: default
--- 

  <section id="code-window" class="col-md-4 col-md-offset-2">

    <div class="exercise-description">
      <h1 class="article-title">{{ page.title }}</h1>
      <p>
        {{ content }}
      </p>
    </div>

    <div class="code-tab">
      <input type="hidden" value="{{ page.js-files }}"/>
      <input type="hidden" value="{{ page.pde-files }}"/>
      <a href="" class="code-link">CODE LINK</a>
      <a href="" class="code-link">CODE LINK</a>
      <a href="" class="code-link">CODE LINK</a>
    </div>

    <div class="code-container">
      <pre contentEditable="true">
        {{ page.code }}
      </pre>
    </div>

  </section>

  <section class="rhs canvas" data-code="Code reference to run in javascript">
    
  </section>