---
layout: default
--- 

  <section id="code-window" class="col-md-4 col-md-offset-2">

    <div class="exercise-description">
      <h1 class="article-title">{{ page.title }}</h1>
      <p>
        {{ content }}
      </p>
    </div>

    <div class="code-tab">
      <a href="" class="code-link">CODE LINK</a>
      <a href="" class="code-link">CODE LINK</a>
      <a href="" class="code-link">CODE LINK</a>
    </div>

    <div class="code-container">
      <pre contentEditable="true">
  class Voila {
  public:
    // Voila
    static const string VOILA = "Voila";

    // will not interfere with embedded tags.
  }
      </pre>
    </div>

  </section>

  <section class="rhs canvas">

  </section>