---
layout: default
--- 

  <section id="code-window" class="col-md-4 col-md-offset-2">

    <div class="exercise-description">
      <h1 class="article-title">{{ page.title }}</h1>
      <p>
        {{ content }}
      </p>
    </div>

    <div class="code-tab">
      <input id="js-files" type="hidden" value="{{ page.js-files }}"/>
      <input id="pde-files" type="hidden" value="{{ page.pde-files }}"/>
    </div>

    <div class="code-container">
      <pre contentEditable="true">
  class Voila {
  public:
    // Voila
    static const string VOILA = "Voila";

    // will not interfere with embedded tags.
  }
      </pre>
    </div>

  </section>

  <section id="sketch-container" class="rhs canvas">

  </section>

  <script language="javascript" type="text/javascript" src="/javascripts/exercise.js"></script>