---
layout: default
--- 
  <link href="/stylesheets/prism.css" rel="stylesheet">
  <script language="javascript" src="/{{ page.js-files }}"></script>

  <section id="code-window" class="col-md-4 col-md-offset-2 lhs">

    <div class="exercise-description">
      <span class="reference-label">{{ page.chapter }}</span>
      <h1 class="article-title">{{ page.title }}</h1>
      <p>
        {{ content }}
      </p>
    </div>

    <div class="code-tab">
      <input id="js-files" type="hidden" value="{{ page.js-files }}"/>
      <input id="pde-files" type="hidden" value="{{ page.pde-files }}"/>
    </div>

    <div class="code-container">
      <pre><code class="language-java simplebox"></code></pre>
    </div>

  </section>

  <section id="sketch-container" class="rhs canvas text-center">
    <span class="background-explainer"><a href="http://p5js.org/" target="_blank">SKETCH RUNNING VIA P5.JS</a><br><a href="{{ page.js-files }}" class="extra-small" target="_blank">JS CODE</a> / <a href="{{ page.pde-files }}" class="extra-small" target="_blank">PDE CODE</a></span>
  </section>

  <script language="javascript" type="text/javascript" src="/javascripts/prism.js"></script>
  <script language="javascript" type="text/javascript" src="/javascripts/exercise.js"></script>
  
