---
layout: default
---
  <link href="/stylesheets/prism.css" rel="stylesheet">

  <section id="video-window" class="col-md-5 col-md-offset-2 lhs">

    <span class="reference-label">{{ page.chapter }}-{{ page.number }}</span>
    <h1 class="article-title">{{ page.title }}</h1>
    {{ content }}

    <!--<input id="video-url" type="hidden" value="{{ page.video }}">-->
    <!-- replacing above vimeo url with youtube one below-->
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube }}?autoplay=1" frameborder="0" allowfullscreen></iframe>

    
    <div id="video" class="video-container" style="height: 300px"></div>

    <div class="video-actions">
      <div class="row">
        <div class="col-xs-6">
          {% if page.downloadcode != 'none' %}
            <a href="{{ page.downloadcode }}" class="meta-link" target="_blank">DOWNLOAD CODE</a>
          {% endif %}
        </div>
        <div class="col-xs-6 text-right">
          <a href="https://vimeo.com/{{ page.vimeo }}" class="meta-link fullscreen">VIEW ON VIMEO</a>
        </div>
      </div>
    </div>

  </section>

  <section class="rhs annotation-window">

    {% if page.annotations != 'none' %}

    <div class="annotations">

      <div class="row">
        <div class="col-xs-6">
          <h5>ANNOTATIONS</h5>
        </div>
        <div class="col-xs-6 text-right">
        </div>
        <br>
      </div>

      <!-- Loop through -->
      {% for annotation in page.annotations %}
        <div class="annotation-panel row" data-start="{{ annotation.start }}" data-end="{{ annotation.end }}" data-displaycode="{{ annotation.gitURL }}">
          <div class="col-xs-1">
            <span class="time-stamp">{{ annotation.start }}</span>
          </div>
          <div class="col-xs-11 annotation-content">
            <p>
              {{ annotation.content }}
            </p>
          </div>
        </div>
      {% endfor %}
      <!-- End loop -->

    </div>

    <div class="code-window">
      <pre><code class="simplebox language-java"></code></pre>
    </div>

    {% endif %}

    <span class="background-explainer"><span class="extra-small">WANT TO HELP WITH THESE ANNOTATIONS? <br> <a href="https://github.com/shiffman/learningprocessing.com/wiki/Video-Annotations">READ THESE INSTRUCTIONS</a> OR <a href="http://twitter.com/shiffman">CONTACT ME</a></span></span>

  </section>

    <script language="javascript" type="text/javascript" src="/javascripts/jquery.fitvids.js"></script>
    <script src="http://popcornjs.org/code/dist/popcorn-complete.min.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/prism.js"></script>
    <script language="javascript" type="text/javascript" src="/javascripts/videos.js"></script>
